<app-header></app-header>
<app-navigation></app-navigation>
<div id="slider" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="['./assets/images/ambulance-banner.jpg']" alt="" class="d-block" />
    </div>
  </div>
  <div class="banner-search">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12">
        <h1>Get Ambulance Services</h1>
        <div class="col-md-12 col-sm-12 col-12 mt-4 mt-sm-1">
          <p class="text-dark fs-6">Topmedz.com Provide your privilege to book ambulance online as per your requirement.
            To book ambulance is easy and convenient. You have to follow few step only. </p>
          <!-- <a
            href="javascript:void(0)"
            class="btn btn-danger border-2 rounded-pill"
          >
            <i class="fas fa-phone-square"></i>
            858-593-0186
          </a> -->
          <a [routerLink]="['/ambulance/list']" class="btn btn-success border-2 rounded-pill">
            Find Ambulances
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider section end -->
<section class="banner-bottom-section py-3 ">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-6 ">
        <div class="banner-bottom-box text-center">
          <a href="javascript:void(0)">
            <span>
              <img [src]="['./assets/images/icon/heartbeat.png']" alt="" />
            </span>
            <h6>Patient Focused</h6>
            <p>
              Our firm is expert to create an efficient user interface that.
            </p>
            <!-- <p class="text-end"><small>read more..</small></p> -->
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-6 ">
        <div class="banner-bottom-box text-center">
          <a href="javascript:void(0)">
            <span>
              <img [src]="['./assets/images/icon/healthcare-icon.png']" alt="" />
            </span>
            <h6>For Healthcare</h6>
            <p>
              Our firm is expert to create an efficient user interface that.
            </p>
            <!-- <p class="text-end"><small>read more..</small></p> -->
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-6 ">
        <div class="banner-bottom-box text-center">
          <a href="javascript:void(0)">
            <span>
              <img [src]="['./assets/images/icon/emergency-call.png']" alt="" />
            </span>
            <h6>Call 24/7</h6>
            <p>
              Our firm is expert to create an efficient user interface that.
            </p>
            <!-- <p class="text-end"><small>read more..</small></p> -->
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-6 ">
        <div class="banner-bottom-box text-center">
          <a href="javascript:void(0)">
            <span>
              <img [src]="['./assets/images/icon/ambulance.png']" alt="" />
            </span>
            <h6>Rapid Response</h6>
            <p>
              Our firm is expert to create an efficient user interface that.
            </p>
            <!-- <p class="text-end"><small>read more..</small></p> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- new-ambulance-type-section -->
<section>
  <h1 class="text-center my-sm-4"> Ambulance Available</h1>
  <div class="container d-flex flex-wrap justify-content-around">
    <div class=" p-sm-3 p-1 col-sm-4 col-12 d-flex flex-column">
      <div class=" h-100 d-flex flex-column  border p-2 rounded shadow">
        <div class="col-12 d-flex flex-column">
          <img [src]="['./assets/images/Ambu4.png']" class="rounded" alt="">
        </div>
        <div class="col-12  p-3">
          <h3 class="text-monospace fw-bold">Basic Life Support Ambulances</h3>
          <p>Equipped with essential medical gear and trained staff, these ambulances stabilize patients and
            offer basic care on-site, mainly for non-life-threatening situations, aiding in initial
            assessment and safe transportation.
          </p>
        </div>
      </div>
    </div>
    <div class=" p-sm-3 p-1 col-sm-4 col-12 d-flex flex-column">
      <div class=" h-100 d-flex flex-column  border p-2 rounded shadow">
        <div class="col-12 d-flex flex-column">
          <img [src]="['./assets/images/Ambu3.png']" class="rounded" alt="">
        </div>
        <div class="col-12  p-3">
          <h3 class="text-monospace fw-bold">Advanced Life Support Ambulances</h3>
          <p>Staffed by highly trained medical professionals and equipped with advanced gear, they administer
            medications, manage airways, monitor vital signs, and provide cardiac support for critical
            emergencies requiring immediate intervention.
          </p>
        </div>
      </div>
    </div>
    <div class=" p-sm-3 p-1 col-sm-4 col-12 d-flex flex-column">
      <div class=" h-100 d-flex flex-column  border p-2 rounded shadow">
        <div class="col-12 d-flex flex-column">
          <img [src]="['./assets/images/Ambu5.png']" class="rounded" alt="">
        </div>
        <div class="col-12  p-3">
          <h3 class="text-monospace fw-bold">Air Ambulances</h3>
          <p>Rapidly transport critically ill or injured patients over long distances using helicopters or
            planes, equipped with advanced medical gear and specialized teams, crucial in remote or
            accident-prone areas, reducing travel time to medical facilities.
          </p>
        </div>
      </div>
    </div>
    <div class=" p-sm-3 p-1 col-sm-4 col-12 d-flex flex-column">
      <div class=" h-100 d-flex flex-column  border p-2 rounded shadow">
        <div class="col-12 d-flex flex-column">
          <img [src]="['./assets/images/Ambu1.png']" class="rounded" alt="">
        </div>
        <div class="col-12  p-3">
          <h3 class="text-monospace fw-bold">E-Rickshaw Ambulances</h3>
          <p>Compact and agile, these vehicles equipped with basic medical gear navigate narrow urban areas
            swiftly, reaching congested or inaccessible locations efficiently, providing prompt medical aid
            and transportation to nearby medical facilities.
          </p>
        </div>
      </div>
    </div>
    <div class=" p-sm-3 p-1 col-sm-4 col-12 d-flex flex-column">
      <div class=" h-100 d-flex flex-column  border p-2 rounded shadow">
        <div class="col-12 d-flex flex-column">
          <img [src]="['./assets/images/Ambu2.png']" class="rounded" alt="">
        </div>
        <div class="col-12  p-3">
          <h3 class="text-monospace fw-bold">Dead Body Ambulances</h3>
          <p>Also known as mortuary vans, these vehicles transport deceased individuals with dignity,
            preserving and ensuring compliance with cultural and legal standards, facilitating respectful
            transportation to mortuaries or funeral homes.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- new-ambulance-type-section -->


<!-- <section class="about-ambulance-section">
  <div class="container">
    <h3 class="heading py-3">
      We are Spaclized in Emergency Air Abulance And Non-Emergency Ground
      Medical Transpotation
    </h3>
    <div class="row">
      <div class="about-img">
        <img class="" [src]="['./assets/images/air-abulance.jpg']" alt="" />
      </div>
      <div class="ambulance-data">
        <h6 class="fs-6 fw-semibold">
          The text generated with this free online tool can be used to aid in
          the web design process. The text generated with this free online tool
          can be used to aid in the web design process.
        </h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <ul>
          <li>
            <i class="fas fa-arrow-circle-right"></i>
            Excepteur sint occaecat cupidatat non proident,
          </li>
          <li>
            <i class="fas fa-arrow-circle-right"></i>
            Excepteur sint occaecat cupidatat non proident,
          </li>
          <li>
            <i class="fas fa-arrow-circle-right"></i>
            Excepteur sint occaecat cupidatat non proident,
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="ambulance-data">
        <h3 class="heading py-2">Madical Support And Services</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore .tempor incididunt ut
          labore et dolore .
        </p>
        <hr />
        <h6 class="fs-6 fw-semibold">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </h6>
        <ul>
          <li>
            <span
              ><img [src]="['./assets/images/icon/ambulance.png']" alt=""
            /></span>
            <strong>Private Abulance</strong>
            <p>Excepteur sint occaecat cupidatat non proident</p>
          </li>
          <li>
            <span
              ><img [src]="['./assets/images/icon/ambulance.png']" alt=""
            /></span>
            <strong>Madical Escorts</strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore .tempor incididunt
              ut labore et dolore .
            </p>
          </li>
          <li>
            <span
              ><img [src]="['./assets/images/icon/ambulance.png']" alt=""
            /></span>
            <strong>Long Distance Transport</strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore .tempor incididunt
              ut labore et dolore .
            </p>
          </li>
        </ul>
      </div>
      <div class="about-img">
        <img [src]="['./assets/images/air-abulance.jpg']" alt="" />
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="Key-features-call">
  <div class="container">
    <h3 class="heading text-center">Key features of our Ambulance service</h3>
    <p class="text-center">Unique Features of Our Ambulance Services</p>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-12">
        <ul class="list-left">
          <li>24/7 online ambulance booking that works day and night</li>
          <li>
            10 different ambulance options available as per emergency and
            transport type
          </li>
          <li>
            Coordination with city traffic police to clear congestion while
            transferring patients
          </li>
          <li>
            Accurate location tracking; our ambulances reach your location
            without assistance
          </li>
          <li>
            Free calling feature on app allows you to call ambulance driver for
            free
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-12 text-center">
        <img [src]="['./assets/images/amb_aerial_view.png']" alt="" />
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <ul class="list-right">
          <li>Highly professional ambulance drivers with a caring persona</li>
          <li>
            Live track the location of your booked ambulance from its "starting
            point"
          </li>
          <li>Surplus ambulances available so that one always reaches you</li>
          <li>
            Well-equipped ambulances that are always prepared and ready for
            dispatch
          </li>
          <li>Send SOS alerts from the ambulance to your saved contacts</li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<section class="ambulace-madical-call">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="">
          <h5 class="fs-4 fw-semibold">For All Your Emergency & non-Emergency medical needs</h5>
          <p>
            Whether it's urgent or not, if you're facing a medical condition,
             call for an ambulance to ensure timely and
            appropriate care
          </p>
          <button type="button" class="btn btn-danger">
            <i class="fas fa-headset"></i> Call Emergency Needs
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="about-ambulance-section">
  <div class="container">
    <div class="row">
      <div class="about-img">
        <img [src]="['./assets/images/air-abulance.jpg']" alt="" />
      </div>
      <div class="ambulance-data">
        <h3 class="heading">New Approach To NEMT</h3>
        <p><strong>(Non-Emergency Madical Transpotation)</strong></p>
        <ul>
          <li>
            <span
              ><img [src]="['./assets/images/icon/ambulance.png']" alt=""
            /></span>
            <strong>Technology Driven System</strong>
            <p>Excepteur sint occaecat cupidatat non proident</p>
          </li>
          <li>
            <span
              ><img [src]="['./assets/images/icon/ambulance.png']" alt=""
            /></span>
            <strong>Real Time Data & Member</strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore .tempor incididunt
              ut labore et dolore .
            </p>
          </li>
          <li>
            <span
              ><img [src]="['./assets/images/icon/ambulance.png']" alt=""
            /></span>
            <strong>Multi-Mode Transpotation</strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore .tempor incididunt
              ut labore et dolore .
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->

<app-download-app></app-download-app>
<app-footer></app-footer>